<div class="report-weather-field">
  <h2>{{ name }} {{ 'Weather Status'|t }}</h2>
  <div class="weather-description">
    <div>{{ description }}</div>
  </div>
  <img
    src="http://openweathermap.org/img/w/{{ icon }}"
    class="weather-icon"/> {{ max_temperature }}°C
  <div class="time">
    <div>{{ 'Humidity'|t }}: {{ humidity }} % </div>
    <div>{{ 'Wind'|t }}: {{ wind }} km/h</div>
  </div>
</div>
